/*on charge une police de google fonts*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
    font-family: "DM Sans", sans-serif;
    background: linear-gradient(to right, rgb(42, 114, 39), rgb(128, 167, 77));
}
canvas {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.171);
}
